<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SPORK_EXTRACTOR.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <SPORK_EXTRACTOR.Properties.Settings>
            <setting name="HanaServer" serializeAs="String">
                <value>192.168.1.72:30015</value>
            </setting>
            <setting name="HanaDB" serializeAs="String">
                <value>SIDCDB</value>
            </setting>
            <setting name="HanaUser" serializeAs="String">
                <value>SYSTEM</value>
            </setting>
            <setting name="HanaPassword" serializeAs="String">
                <value>1q2w#E$R</value>
            </setting>
            <setting name="MySQLServer" serializeAs="String">
                <value>192.168.1.153</value>
            </setting>
            <setting name="MySQLDB" serializeAs="String">
                <value>spork_test</value>
            </setting>
            <setting name="MySQLUser" serializeAs="String">
                <value>root</value>
            </setting>
            <setting name="MySQLPassword" serializeAs="String">
                <value>supervisor</value>
            </setting>
            <setting name="RecordCountLimit" serializeAs="String">
                <value>1000</value>
            </setting>
        </SPORK_EXTRACTOR.Properties.Settings>
    </userSettings>
</configuration>